.mediaViewInfo {
	--web-view-name: added-to-cart;
	--web-view-id: added-to-cart;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: added-to-cart;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#added-to-cart {
	position: absolute;
	width: 756px;
	height: 639px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: added-to-cart;
	--web-view-id: added-to-cart;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Back_to_Shopping_bs {
	left: 281px;
	top: 546px;
	position: absolute;
	overflow: visible;
	width: 196px;
	height: 29px;
	transition: all 0.3s ease-in-out;
	--web-animation: fadein 0.3s ease-in-out;
	--web-action-type: page;
	--web-action-target: Shop.html;
	cursor: pointer;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(38,47,86,1);
	letter-spacing: 0.4px;
}
#Item_Successful_Added {
	left: 214px;
	top: 373px;
	position: absolute;
	overflow: visible;
	width: 330px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -2px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(253,103,91,1);
	text-transform: capitalize;
}
#check_bu {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 279px;
	top: 150px;
	overflow: visible;
}
#Ellipse_103_bv {
	fill: rgba(255,255,255,1);
	stroke: rgba(0,239,24,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_103_bv {
	position: absolute;
	overflow: visible;
	width: 200px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#ic_check_24px_bw {
	fill: rgba(0,239,24,1);
	stroke: rgba(0,239,24,1);
	stroke-width: 2.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ic_check_24px_bw {
	overflow: visible;
	position: absolute;
	width: 132.09px;
	height: 101.295px;
	left: 35.5px;
	top: 50.5px;
	transform: matrix(1,0,0,1,0,0);
}
#close_bx {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 673px;
	top: 55px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Shop.html;
	cursor: pointer;
}
#Ellipse_98_by {
	fill: rgba(253,103,91,1);
}
.Ellipse_98_by {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#close_bz {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.close_bz {
	overflow: visible;
	position: absolute;
	width: 11.547px;
	height: 11.547px;
	left: 9.5px;
	top: 9.5px;
	transform: matrix(1,0,0,1,0,0);
}
#view-cart {
	position: absolute;
	width: 272px;
	height: 63px;
	left: 243px;
	top: 449px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: cart.html;
	cursor: pointer;
}
#Rectangle_bg {
	fill: rgba(253,103,91,1);
}
.Rectangle_bg {
	position: absolute;
	overflow: visible;
	width: 272px;
	height: 63px;
	left: 0px;
	top: 0px;
}
#Yes_View_Cart {
	left: 83px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	line-height: 32px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}